/* CSS reset */
a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}:focus{outline:0}body{line-height:1;color:#000;background:#fff}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,td,th{text-align:left;font-weight:400}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"" ""}.alignleft{float:left}.alignright{float:right}.clear{clear:both}

/* CSS */
/* html */
body{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em;
    background-color: white;
    color: #01080D;
}
#scrolly {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
article {
    position: relative;
    padding: 0;
    z-index: 0;
}

/* sections */
section.generic{
    width: 500px;
    margin: 0 auto;
    background: none;
}
section#intro{
    padding: 50px 0 0 0;
}
#member{
    background: green;
    padding: 5px 10px;
    color: white;
    font-size: .8em;
}
#footer{
    width: 100%;
    color: white;
    background-color: #01080D;
    margin-top: 50px;
    padding: 50px 0;
}
#footer p{
    width: 500px;
    margin: 0 auto;
}

/* viz */
figure {
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    width: 1000px;
    margin: 0 auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
#countries{
    background-color: whitesmoke;
    width: 750px;
    float: right;
    border-color: #01080D;
}
.line{
    transition: stroke 0.5s ease, stroke-width 0.5s ease;
}
svg .axis{
    pointer-events: none;
}
svg .line-group{
    pointer-events: visibleStroke;
}

/* steps */
.step {
    margin: 25px 0;
}
.step:last-child {
    margin-bottom: 0;
} 
.step h2, .step p{
    margin: 0;
}
.step h2{
    text-align: right;
    font-size: 2em;
    padding-bottom: 25px;
    line-height: .9em;
}
.step h2, .step p{
    padding-right: 25px;
    border-right: 2px solid #8C8274;
    color: #8C8274;
    opacity: 0.2;
}
.step.is-active h2, .step.is-active p{
    border-right-color: #01080D;
    color: #01080D;
    opacity: 1;
}

.axis path, .axis line {
    color: #01080D;
    stroke: #01080D;
}
.axis text{
    fill: #01080D;
}

/* text */
h1{
    font-size: 3em;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 50px;
    font-weight: bold;
    color: green;
}
h1 strong, h2, h3{
    font-weight: 700;
}
h3{
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
}
p{
    text-align: justify;
    margin-bottom: 25px;

}
p strong{
    font-weight: 700;
}
ul{
    margin-bottom: 25px;
}
ul li{
    list-style: disc;
    padding-left: 15px;
    margin-left: 15px;
    margin-left: 15px;
}
.step p{
    font-size: .9em;
}
p.separator{
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    margin: 50px 0;
    border-bottom: 2px solid #8C8274;
}
p span.label{
    font-weight: 700;
}
a{
    font-weight: 700;
    color: green;
}
#member a{
    color: white;
}

